<style>
    .sl {
        float: right; 
        width:55%; 
        margin:10px 10px 10px 0px; 
        border: 2px solid gold;
        display: block;
    
    }
    
    .hi {
        width:85%; 
        display: block;
        margin: 10px auto 10px auto;
        border: 2px solid gold;
    }

img[src*='#hi'] { 
    width:85%; 
    display: block;
    margin: 10px auto 10px auto;
    border: 2px solid gold;
}
    
    hr { 	clear:both;  }
    
    .logo {
        width: 20%;
        float: right
    }
    </style>