<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}
</body>
</html>

<script>
  MathJax = {
    loader: {
      load: [
        'input/tex-base',    
         'output/svg',        
         'ui/menu',        
         '[tex]/require'
        ]
    },
    tex: {
      packages: ['base', 'require'],
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    startup: {
    ready: () => {
      console.log('MathJax is loaded, but not yet initialized');
      MathJax.startup.defaultReady();
      console.log('MathJax is initialized, and the initial typeset is queued');
    }
  }

  };
  </script>  
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<!--script async src="https://cdn.jsdelivr.net/npm/mermaid@8.9.2/dist/mermaid.core.min.js"></script-->
